.team {

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(10ch,1fr));
        gap: 3rem;
        padding: 1rem 2rem;
    }

    .card {
        background-color: rgba(255, 255, 255, 0.623);
        min-height: 20rem;
        display: flex;
        flex-direction: column;

        &__picture {
            padding-top: 1rem;
        }

        &__img {
            height: 8rem;
            width: 8rem;
            object-fit: cover;
            border-radius: 50%;
            display: block;
            margin: 0 auto;
        }

        &__body {
            padding: 1rem 1rem .1rem;
            text-align: center;

            & p {
                font-family: 'Poppins', sans-serif;
            }
        }

        &__key {
            color: darken($color: #ff7559, $amount: 30);
            font-weight: bold;
            font-family: 'Merienda', cursive;
            margin-right: .4rem;
        }
    }
}

.win {
        background-image: radial-gradient(circle at 100% 100%, transparent -6px, #9646d8 -6px, #9646d8 1px, transparent 1px), linear-gradient(to right, #9646d8, #1de2fc), radial-gradient(circle at 0% 100%, transparent -6px, #1de2fc -6px, #1de2fc 1px, transparent 1px), linear-gradient(to bottom, #1de2fc, #ee588d), radial-gradient(circle at 0% 0%, transparent -6px, #ee588d -6px, #ee588d 1px, transparent 1px), linear-gradient(to left, #ee588d, #ffd600), radial-gradient(circle at 100% 0%, transparent -6px, #ffd600 -6px, #ffd600 1px, transparent 1px), linear-gradient(to top, #ffd600, #9646d8);
        background-size: 1px 1px, calc(100% - 2px) 7px, 1px 1px, 7px calc(100% - 2px);
        background-position: top left,top center,top right,center right, bottom right,bottom center,bottom left,center left;
        background-repeat: no-repeat;
}