.main {
    height: calc(100vh - 6rem);
    max-height: 70rem;
    width: 120rem;
    max-width: 140rem;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.61);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.0px );
    -webkit-backdrop-filter: blur( 4.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 1rem;

    // &__container {

    // }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__logo-box {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__logo {
            height: 4rem;
        }

        &__title {
            font-size: 2.3rem;
            margin-left: .5rem;
        }

        &__btn {
            all: unset;
            background-color: #f3886a;
            color: #fff;
            padding: .5rem 1rem;
            border-radius: 5px;

            &:hover {
                background-color: darken(#f3886a, 5);
            }
        }
    }
}